@{
    ViewData["Title"] = "Sobre a Dev";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>Olá! Me chamo Vitoria Neris, mas pode me chamar de Viih ou Neris.</p>
<p><b>O que achou deste projeto?</b></p>
<p>
    Aceito sugestões e dicas, afinal este projeto foi inteiramente focado em C#
    e esta é uma linguagem totalmente nova para mim 😅
</p>
<p>Te convido a acessar minhas redes sociais, me acompanhe e mande uma mensagem 😉💜</p>
<div class="d-flex align-items-center w-100 justify-content-evenly mt-4">
    <div class="d-flex flex-column align-items-center">
        <a class="text-decoration-none align-items-center d-flex flex-column font-monospace" href="https://github.com/ViihNeris" target="_blank">
            <img style="border-radius: 50%; width: 2em" src="~/img/github_logo_icon_147285.webp" />
            GitHub
        </a>
    </div>
    <div class="d-flex flex-column align-items-center">
        <a class="text-decoration-none align-items-center d-flex flex-column font-monospace" href="https://www.linkedin.com/in/vitorianeris/" target="_blank">
            <img style="border-radius: 50%; width: 2em" src="~/img/icon-linkedin.webp" />
            LinkedIn
        </a>
    </div>
</div>
<div class="d-flex justify-content-center w-100 text-center mt-4">
    <img style="width: 15%" src="~/img/programmer_girl.gif" />
</div>
