@{
    ViewData["Title"] = "Home";
}

<div class="text-white text-center d-flex flex-column align-items-center">
    <h1 class="display-4">Bem vindo(a)!</h1>
    <p>Sistema de Controle de Usuários</p>
    <img class="w-50" src="~/img/programming.gif" />
</div>
